---
title: The Iridium Museum
layout: page
permalink: /
---
<main>
    {% include timeline.html %}
    <section id="exhibits--section">
        <h2>Exhibits</h2>
        <div class="exhibits--grid">
            {% for exhibit in site.exhibits %}        
            <a id="exhibit-{{ forloop.index }}" href="{{ exhibit.url | relative_url }}" class="exhibit--card">
                {% if exhibit.cardImg != "" %}<img class="exhibit--img" src="{{ site.baseurl }}/assets/img/{{ exhibit.cardImg }}">{% endif %}
                <h2 class='exhibit--title'>{{exhibit.title}}</h2>
            </a>
            {% endfor %}
        </div>
    </section>
</main>
