img {
    max-width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
}

blockquote {
    margin: 0;
    width: 80%;
    margin: auto;
    padding-right: 2em;
    padding-left: 6em;
    background: #ededed;
}

blockquote > p {
    margin: 0;
    padding-top: 1em;
}

blockquote:first-of-type {
    margin-top: 1em;
}
blockquote:last-of-type {
    margin-bottom: 1em;
}
blockquote:last-of-type {
    padding-bottom: 1em;
    margin-bottom: 1em;
}