<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/zfu4ccz.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
    <header>
        <h1 class='site-title'>{{ page.title }}</h1>
        <img class='site-img' src="{{ site.baseurl }}/assets/img/img_site-logo.png">
    </header>
    {{ content }}
    <footer>
        <p><em>&copy; Copyright Iridium Satellite, Inc. 2019, all rights reserved.</em></p>
    </footer>
<script>let baseurl = "{{ site.baseurl }}"</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>